.user-container{
    background-color: rgb(236, 204, 163);
    padding: 25px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    margin: 1rem;
}

#user-img{
    height: 120px;
    width: 120px;
    border-radius: 50%;
}